Repository IamJayPrakash/subnexa, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, bug, enhancement, documentation

.github/labeler.yml:

frontend:
  - '**/*.js'
  - '**/*.jsx'
  - '**/*.ts'
  - '**/*.tsx'
  - '**/*.css'
  - '**/*.scss'
  - '**/*.html'
  - '**/*.vue'

backend:
  - '**/*.java'
  - '**/*.py'
  - '**/*.go'
  - '**/*.cpp'
  - '**/*.c'
  - '**/*.php'
  - '**/*.rb'

bug:
  - 'bug/**'
  - '**/*bug*.md'
  - '**/bugfix/**'

enhancement:
  - 'enhancement/**'
  - '**/*enhance*.md'
  - '**/features/**'

documentation:
  - '**/*.md'
  - '**/*.rst'
  - 'docs/**'

Potential fix for code scanning alert no. 1: Workflow does not contain permissions
  .github/workflows/lint.yml
Labels: none

added grok
  package-lock.json
  package.json
  public/sitemap-0.xml
  src/app/api/groq-test.js
Labels: frontend

Added section pages
  package-lock.json
  package.json
  src/app/(main)/metadata.ts
  src/app/about/page.tsx
  src/app/categories/page.tsx
  src/app/contact/page.tsx
  src/app/error.tsx
  src/app/layout.tsx
  src/app/loading.tsx
  src/app/not-found.tsx
  src/app/page.tsx
  src/app/privacy/page.tsx
  src/app/report-issue/page.tsx
  src/app/terms/page.tsx
  src/app/tools/converters/page.tsx
  src/app/tools/encoders/page.tsx
  src/app/tools/formatters/page.tsx
  src/app/tools/generators/page.tsx
  src/app/tools/page.tsx
  src/app/tools/security/page.tsx
  src/app/tools/seo/page.tsx
  src/app/tools/text/page.tsx
  src/app/tools/web/page.tsx
  src/components/Analytics.tsx
  src/components/ThemeProvider.tsx
  src/components/home/CategoriesSection.tsx
  src/components/home/CtaSection.tsx
  src/components/home/FeaturesSection.tsx
  src/components/home/HeroSection.tsx
  src/components/home/PopularToolbar.tsx
  src/components/home/TestimonialSection.tsx
  src/components/layouts/Footer.tsx
  src/components/layouts/Header.tsx
  src/components/ui/button.tsx
  src/components/ui/dropdown-menu.tsx
  src/components/ui/separator.tsx
Labels: frontend

Added docs
  public/sitemap-0.xml
  src/app/docs/page.tsx
Labels: frontend

Added footer links pages
  public/file.svg
  public/globe.svg
  public/next.svg
  public/sitemap-0.xml
  public/vercel.svg
  public/window.svg
  src/app/about/loading.tsx
  src/app/blog/[slug]/loading.tsx
  src/app/blog/[slug]/page.tsx
  src/app/blog/loading.tsx
  src/app/blog/page.tsx
  src/app/categories/loading.tsx
  src/app/contact/loading.tsx
  src/app/docs/loading.tsx
  src/app/docs/page.tsx
  src/app/privacy/loading.tsx
  src/app/report-issue/loading.tsx
  src/app/roadmap/loading.tsx
  src/app/roadmap/page.tsx
  src/app/terms/loading.tsx
  src/app/tools/converters/loading.tsx
  src/app/tools/encoders/loading.tsx
  src/app/tools/formatters/loading.tsx
  src/app/tools/generators/loading.tsx
  src/app/tools/loading.tsx
  src/app/tools/security/loading.tsx
  src/app/tools/seo/loading.tsx
  src/app/tools/text/loading.tsx
  src/app/tools/web/loading.tsx
  src/components/layouts/Footer.tsx
  src/components/layouts/Header.tsx
  src/constants/index.js
Labels: frontend

Removed unused import and variables
  public/sitemap-0.xml
  src/app/contact/page.tsx
  src/app/error.tsx
  src/app/privacy/page.tsx
  src/app/report-issue/page.tsx
  src/app/terms/page.tsx
  src/app/tools/formatters/page.tsx
  src/components/Analytics.tsx
  src/components/home/TestimonialSection.tsx
  src/components/layouts/Footer.tsx
Labels: frontend

Added google site verification
  .husky/pre-commit
  package-lock.json
  package.json
  public/sitemap-0.xml
  src/app/about/page.tsx
  src/app/blog/[slug]/metadata.tsx
  src/app/blog/metadata.tsx
  src/app/blog/page.tsx
  src/app/categories/metadata.tsx
  src/app/categories/page.tsx
  src/app/contact/metadata.ts
  src/app/contact/page.tsx
  src/app/docs/metadata.tsx
  src/app/docs/page.tsx
  src/app/metadata.ts
  src/app/privacy/metadata.ts
  src/app/privacy/page.tsx
  src/app/roadmap/metadata.ts
  src/app/roadmap/page.tsx
Labels: frontend

Added google site verification
  .husky/pre-commit
Labels: none

Fixed the site verification meta data
  public/sitemap-0.xml
  src/app/layout.tsx
  src/app/metadata.ts
  src/app/page.tsx
Labels: frontend

Added react Nprogess bar and imporved layout and designs
  package-lock.json
  package.json
  public/sitemap-0.xml
  src/app/about/page.tsx
  src/app/blog/[slug]/page.tsx
  src/app/blog/page.tsx
  src/app/categories/page.tsx
  src/app/contact/page.tsx
  src/app/docs/page.tsx
  src/app/globals.css
  src/app/layout.tsx
  src/app/roadmap/page.tsx
  src/app/tools/converters/page.tsx
  src/app/tools/encoders/page.tsx
  src/app/tools/formatters/page.tsx
  src/app/tools/generators/page.tsx
  src/app/tools/page.tsx
  src/app/tools/security/page.tsx
  src/app/tools/seo/page.tsx
  src/app/tools/text/page.tsx
  src/app/tools/web/page.tsx
  src/components/NavigationProgress.tsx
  src/components/home/HeroSection.tsx
  src/components/home/TestimonialSection.tsx
  src/components/layouts/Header.tsx
  src/constants/index.js
  src/constants/index.tsx
Labels: frontend

Added 3js Aniamtions
  public/sitemap-0.xml
  src/app/about/page.tsx
  src/app/contact/page.tsx
  src/components/AnimatedBackground.tsx
  src/components/GalaxyBackground.tsx
  src/components/GalaxyFooterAnimation.tsx
  src/components/layouts/Footer.tsx
  src/constants/index.tsx
Labels: frontend

Update README.md
  README.md
Labels: documentation

Update README.md
  README.md
Labels: documentation
